html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

h1, p{
    margin: 0;
}

button{
    padding: 0;
    border: none;
}

.container{
    max-width: 1120px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

body{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin: 0;
    background-color: #FAFAFA;
}

.header{
    background-color: rgba(255, 255, 255, 0.67);
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.12), 0 4px 24px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    z-index: 2;
}

.header__wrapper{
    background-color: rgba(255, 255, 255, 0.67);
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.12), 0 4px 24px 0 rgba(0, 0, 0, 0.12);
}

.header__items{
    padding: 33px 0 31px;
}

.header__inner,
.header__item{
    display: flex;
}

.header__item{
    align-items: center;
}

.header__item-1{
    margin-bottom: 15px;
}

.header__item-2{
    margin-bottom: 19px;
}

.header__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.01em;
    margin-right: 16px;
}

.header__text{
    border: 1px solid #3D8EDA;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.03em;
    color: #3D8EDA;
    padding: 6px 12px 7px;
}

.logo-link{
    display: block;
    margin-top: 6px;
    margin-right: 86px;
}

.header__statistics{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.header__statistics-bold{
    font-weight: 700;
}

.header__statistics-1{
    margin-right: 28px;
}

.header__statistics-2{
    margin-right: 17px;
}

.header__label{
    font-weight: 400;
    margin-right: 11px;
}

input{
    border-radius: 4px 0 0 4px;
    border: 0;
    color: #636264;
    font-size: 13px;
    line-height: 15px;
    padding: 6px 8px;
}

input::placeholder{
    color: 636264;
}

.header__form-container{
    display: flex;
    align-items: center;
    background-color: #ebebeb;
    border-radius: 4px;
    border: 1px solid #DEDEDE;
    overflow: hidden;
}

.header__form-container button{
    width: 26px;
    min-height: 100%;
    position: relative;
    background-color: #ebebeb;
    padding-left: 1px;
    padding-right: 1px;
}

.clear-btn::before,
.clear-btn::after{
    content:'';
    background-color: #DEDEDE;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
}

.clear-btn::before{
    left: 0;
}

.clear-btn::after{
    right: 0;
}

.header__form-container-1{
    margin-right: 22px;
}

.header__form-container .clear-btn{
    color: #5F5F5F;
    font-size: 24px;
    padding-left: 2px;
    padding-right: 2px;
    width: 28px;
}

.posts{
    background-image: url('./images/main-bg.svg');
    background-repeat: no-repeat;
    background-size: 10% auto;
    background-position: right bottom;
    padding-bottom: 20px;
}

.posts__toggle{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 18px;
}

.posts__toggle-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s fill ease-in;
}

.posts__rows{
    margin-right: 21px;
}

.posts__items{
    margin-top: 23px;
}

.posts__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 8px;
    padding-right: 79px;
}

.posts__item-img{
    margin-right: 30px;
}

.posts__item-container,
.posts__item-wrap,
.posts__item-inner{
    display: flex;
}

.posts__item-inner{
    align-items: center;
}

.posts__item-img{
    max-width: 86px;
    height: auto;
}

.posts__item-wrap{
    column-gap: 18px;
    margin-top: 8px;
    align-items: center;
}

.posts__item-icon{
    margin-right: 6px;
}

.posts__btn{
    margin: 33px auto 0;
    text-transform: uppercase;
    border: 1px solid #929292;
    border-radius: 14px;
    background-color: transparent;
    color: #929292;
    padding: 7px 26px;
    font-size: 11px;
    line-height: 13px;
    font-weight: 500;
    letter-spacing: -0.03em;
    display: block;
}

.list .posts__items{
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 16px;
}

.list .posts__item{
    max-width: calc(25% - 6px);
    width: 100%;
    flex-direction: row;
    padding-right: 0;
    margin-bottom: 0;
    flex-wrap: wrap;
    gap: 12px;
}

.list .posts__item-inner{
    flex-direction: column;
    min-width: 100%;
}

.list .posts__item-img{
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 12px;
}

.list .posts__item-content{
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.list .posts__item-wrap {
    column-gap: 10px;
    margin-top: 0;
}


.list .posts__item-content-3{
    margin-bottom: 12px;
}

.list .posts__item-content-3 .posts__item-text{
    font-size: 14px;
    line-height: 16px;
}

.list .posts__item-content-3  .text-small{
    font-size: 12px;
    line-height: 14px;
}

.list .posts__item-content-3 .posts__item-wrap{
    margin-top: 0;
}

.main{
    margin-bottom: 100px;
    position: relative;
    z-index: 2;
}

.header::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('./images/header__bg.svg');
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
    width: 572px;
    height: 363px;
    z-index: -1;
}

.posts__toggle-btn.active svg rect{
    fill: #3D8EDA;
    transition: 0.3s fill ease-in;
}

@media screen and (max-width: 1440px) {
    .container{
        max-width: 880px;
    }

    .posts {
        background-size: 14% auto;
    }
}

@media screen and (max-width: 1240px){
    .header::before{
        left: -60px;
        width: 520px;
        height: 330px;
    }

    .posts {
        background-size: 11% auto;
    }
}

@media screen and (max-width: 1024px) {
    .posts__item{
        padding-right: 20px;
    }

    .logo-link {
        margin-right: 50px;
    }

    .list .posts__item {
        max-width: calc(33.3% - 11px);
    }

    .list .posts__items {
        column-gap: 16px;
    }

    .container {
        max-width: 680px;
    }

    .header::before {
        left: -100px;
        width: 530px;
        height: 336px;
    }
}

@media screen and (max-width: 768px) {
    .header__form{
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .logo-link{
        margin-top: 25px;
    }

    .logo{
        max-width: 100px;
    }

    body{
        font-size: 14px;
        line-height: 16px;
    }

    .header::before {
        left: -100px;
        width: 400px;
        height: 250px;
    }

    .posts {
        background-size: 8% auto;
    }
}

@media screen and (max-width: 640px){
    .header__title {
        font-size: 20px;
        line-height: 24px;
    }

    .header::before {
        width: 100%;
        height: 100%;
    }

    .posts__item-wrap{
        align-items: flex-start;
        gap: 8px;
    }

    .posts__item-icon{
        max-width: 12px;
    }

    .list .posts__item {
        max-width: calc(50% - 8px);
    }

    .list .posts__item-content-3 .posts__item-text {
        font-size: 12px;
        line-height: 14px;
    }
    
    .posts{
        background-image: none;
    }
}

@media screen and (max-width: 520px){
    .header__item-1,
    .header__item-2 {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .header__item-1{
        margin-bottom: 15px;
    }

    .header__statistics-1,
    .header__statistics-2 {
        margin-right: 15px;
    }

    .logo-link {
        margin-right: 15px;
    }

    .logo{
        max-width: 80px;
    }

    .posts__item-inner {
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
    }

    .posts__item-img {
        margin-right: 0;
        max-width: 95px;
    }

    .posts__item {
        align-items: flex-end;
        padding-bottom: 8px;
        padding-right: 8px;
        gap: 15px;
    }

    .posts__item-content-1{
        padding-left: 8px;
    }

    body {
        font-size: 12px;
        line-height: 14px;
    }

    .list .posts__item {
        max-width: 100%;
    }

    .list .posts__items {
        max-width: 250px;
        margin: 23px auto 0;
    }

    .header::before {
        left: -30px;
    }
}
